
<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
        <!--Card header-->
        <div class="card-header">
            <h5 class="modal-title" id="exampleModalLabel">Add New Role</h5>
        </div>
        <!--Card body-->
        <div class="modal-body">
            <!-- Tab Menu -->
            <!--begin::Example-->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#rolename">
                        <span class="nav-icon">
                            <i class="flaticon2-chat-1"></i>
                        </span>
                        <span class="nav-text">Role Name</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#permission" aria-controls="profile">
                        <span class="nav-icon">
                            <i class="flaticon2-layers-1"></i>
                        </span>
                        <span class="nav-text">Permission</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content mt-5" id="myTabContent">
                <div class="tab-pane fade show active" id="rolename" role="tabpanel" aria-labelledby="kt_tab_pane_2">
                    <div class="form-group">
                        <label>Role name :</label>
                        <input type="text" id="role-name" class="form-control" placeholder="Enter role name" />
                        <span class="form-text text-muted">You can change name of role here.</span>
                        <label>Description :</label>
                        <input type="text" id="role-description" class="form-control" placeholder="Enter discription" />
                        <span class="form-text text-muted">You can change description of role here.</span>
                    </div>
                </div>
                <div class="tab-pane fade" id="permission" role="tabpanel" aria-labelledby="kt_tab_pane_2">
                    <form class="form">
                        <div class="card-body">
                            <div id="jstree"></div>
                        </div>
                    </form>
                </div>
            </div>

            <!--end::Example-->
            <!--end::Content-->
        </div>
        <!--end::card body-->
        <!--begin::footer-->
        <div class="modal-footer">
            <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Đóng</button>
            <button type="button" class="btn btn-primary font-weight-bold" data-dismiss="modal" id="submit">Lưu thay đổi</button>
        </div>
        <!--End::footer-->
    </div>
</div>
<script>

    $('#submit').on('click', function () {
        var url = "@Url.Action("InsertRole","Role")";
        var description = document.getElementById("role-description").value;
        var rolename = document.getElementById("role-name").value;

        $.ajax({
            url: url,
            type: 'POST',
            data: {
                RoleName: rolename,
                Description : description
            },
            success: function (data) {
                if (data != "success") {
                    alert(data);
                } else {
                    location.reload(null, false);
                }
            },
            error: function (data) {
                alert("Error update role");
            }
        });
    });
    //load jstree
     $(document).ready(function () {
        $.ajax({
            url: "@Url.Action("GetAllPermission", "Role")",
            type: 'POST',
            data: {
                RoleName: "0"
            },
            success: function (data) {
                $('#jstree').jstree({
                    plugins: ['checkbox'],
                    'core': {
                        'data': data
                    },
                }).on('ready.jstree', function () {
                    $('#jstree').jstree("open_all");
                });
            },
            error: function (data) {
                alert("Error load permission");
            }
        });
    });
</script>

