
@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<!--begin::Entry-->
<!--<div class="d-flex flex-column-fluid col-lg-8">-->
<!--begin::Container-->
<!--<div class="container">-->
<!--begin::Card-->

<div class="card card-custom">
    <!--begin::Header-->
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                Danh mục dữ liệu
                <span class="d-block text-muted pt-2 font-size-sm">Quản lý các danh mục của dữ liệu</span>
            </h3>
        </div>

        <!--<div class="card-toolbar">-->
            <!--begin::Dropdown-->
            <!--<div class="dropdown dropdown-inline mr-2 importData Danhmucdulieu-Themmoi" style="display:none">
                <button type="button" class="btn btn-light-primary font-weight-bolder" aria-haspopup="true" aria-expanded="false">
                    <span class="svg-icon svg-icon-md">-->
                        <!--begin::Svg Icon | path:assets/media/svg/icons/Design/PenAndRuller.svg-->
                        <!--<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24" />
                                <path d="M3,16 L5,16 C5.55228475,16 6,15.5522847 6,15 C6,14.4477153 5.55228475,14 5,14 L3,14 L3,12 L5,12 C5.55228475,12 6,11.5522847 6,11 C6,10.4477153 5.55228475,10 5,10 L3,10 L3,8 L5,8 C5.55228475,8 6,7.55228475 6,7 C6,6.44771525 5.55228475,6 5,6 L3,6 L3,4 C3,3.44771525 3.44771525,3 4,3 L10,3 C10.5522847,3 11,3.44771525 11,4 L11,19 C11,19.5522847 10.5522847,20 10,20 L4,20 C3.44771525,20 3,19.5522847 3,19 L3,16 Z" fill="#000000" opacity="0.3" />
                                <path d="M16,3 L19,3 C20.1045695,3 21,3.8954305 21,5 L21,15.2485298 C21,15.7329761 20.8241635,16.200956 20.5051534,16.565539 L17.8762883,19.5699562 C17.6944473,19.7777745 17.378566,19.7988332 17.1707477,19.6169922 C17.1540423,19.602375 17.1383289,19.5866616 17.1237117,19.5699562 L14.4948466,16.565539 C14.1758365,16.200956 14,15.7329761 14,15.2485298 L14,5 C14,3.8954305 14.8954305,3 16,3 Z" fill="#000000" />
                            </g>
                        </svg>-->
                        <!--end::Svg Icon-->
                    <!--</span>Tải lên
                </button>
            </div>-->
            <!--end::Dropdown-->
            <!--begin::Button-->
            <!--<a class="btn btn-primary font-weight-bolder create-catalogdata-form Danhmucdulieu-Themmoi" data-id="@ViewBag.DeviceName" style="display:none">
                <span class="svg-icon svg-icon-md">-->
                    <!--begin::Svg Icon | path:assets/media/svg/icons/Design/Flatten.svg-->
                    <!--<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24" />
                            <circle fill="#000000" cx="9" cy="15" r="6" />
                            <path d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z" fill="#000000" opacity="0.3" />
                        </g>
                    </svg>-->
                    <!--end::Svg Icon-->
                <!--</span>Tạo mới
            </a>-->
            <!--end::Button-->
        <!--</div>-->
    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <div class="card-body">
        <input type="hidden" id="devicename_quannd" value="@ViewBag.DeviceName" />
        <table id="my_datatable_CatalogData" class="table table-hover table-checkable">
            <thead>
                <tr style=" align-content: center !important;">
                    <th style="width: auto;"><b>Tên thiết bị</b></th>
                    <th style="width: auto;"><b>Thẻ tên</b></th>
                    <th style="width: auto;"><b>Địa chỉ</b></th>
                    <th style="width: auto;"><b>Đơn vị</b></th>
                    <th style="width: auto;"><b>Giới hạn dưới</b></th>
                    <th style="width: auto;"><b>Giới hạn trên</b></th>
                    @*<th style="width: auto;"><b>Chức năng</b></th>*@
                </tr>
            </thead>
        </table>
        <!--end: Datatable-->
    </div>
    <!--end::Body-->
    <!--</div>-->
    <!--end::Card-->
    <!--</div>-->
    <!--end::Container-->
</div>

<!--Form Modal-->
<div class="modal fade modal-edit-account" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formEditAccount" aria-hidden="true"></div>

<!--Modal Delete-->
<div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel">Cảnh báo!</h3>
            </div>
            <div class="modal-body">
                <h6>Bạn có muốn xóa?</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnDelteYes" href="#" data-dismiss="modal">Có</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Không</button>
            </div>
        </div>
    </div>
</div>

<!--Modal Import-->
<div class="modal fade" id="uploadModal" tabindex="-2" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel">Tải lên file dữ liệu</h3>
            </div>
            <div class="modal-body">
                <input type="file" id="nameFile" name="nameFile" multiple accept=".csv" />
                <button type="button" class="btn btn-primary" onclick="uploadcsvfile()" style="float:right">Tải lên</button>
            </div>
        </div>
    </div>
</div>

<script src="~/My_Js/CatalogData/listCatalogData.js"></script>
<script src="~/My_Js/CatalogData/ImportData.js"></script>
<script>
    
</script>