@model WebGSMT.Models.Device
@{
    Layout = null;
}
<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
        <!--Card header-->
        <div class="card-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Role</h5>
        </div>
        <!--Card body-->
        <div class="modal-body">
            <!-- Tab Menu -->
            <!--begin::Example-->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#rolename">
                        <span class="nav-icon">
                            <i class="flaticon2-chat-1"></i>
                        </span>
                        <span class="nav-text">Role Name</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#permission" aria-controls="profile">
                        <span class="nav-icon">
                            <i class="flaticon2-layers-1"></i>
                        </span>
                        <span class="nav-text">Permission</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content mt-5" id="myTabContent">
                <div class="tab-pane fade show active" id="rolename" role="tabpanel" aria-labelledby="kt_tab_pane_2">
                    <div class="form-group ">
                        <input type="text" id="device-name" class="form-control validateTextBox" placeholder="Tên Thiết Bị" onchange="ExistDeviceCheck()" />
                        <span id="deviceNameValidate" style="color:red"></span><br/>
                        <span id="Status" style="color:red"></span><br/>

                        <input type="text" id="device-nameShow" class="form-control validateTextBox" placeholder="Chi tiết" />
                        <span id="deviceNameShowValidate" style="color:red"></span><br />

                        <input type="text" id="device-BranchOrProtocol" class="form-control validateTextBox" placeholder="Thiết bị/Giao Thức" />
                        <span id="deviceBranchOrProtocolValidate" style="color:red"></span>
                    </div>
                </div>
                <div class="tab-pane fade" id="permission" role="tabpanel" aria-labelledby="kt_tab_pane_2">
                    <form class="form">
                        <div class="card-body">
                            <div id="jstree"></div>
                        </div>
                    </form>
                </div>
            </div>

            <!--end::Example-->
            <!--end::Content-->
        </div>
        <!--end::card body-->
        <!--begin::footer-->
        <div class="modal-footer">
            <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Đóng</button>
            <button type="button" class="btn btn-primary font-weight-bold"  id="submit">Lưu</button>
        </div>
        <!--End::footer-->
    </div>
</div>
<script src="~/My_Js/Devices/create.js"></script>
